{{!-- // what the page will render --}}

<h1>Eat Da Burger</h1>

<h2>Burgers That are not devoured!</h2>

<ul id="burger-list">
{{!-- {{#each burgers}} --}}
    {{#each burgers}}
        {{#unless devoured}}
            <li >
                {{this.burger_name}}
                <button data-id="{{this.id}}" >Devour</button>
            </li>
    {{!-- {{> cats/cat-block sleep=true}} --}}
        {{/unless}}
    {{/each}}
</ul>

<h2 >Devoured Burgers</h2>

 <ul>
    {{#each burgers}}
        {{#if devoured}}
        <li>{{this.burger_name}}</li>
            {{!-- {{> cats/cat-block sleep=true}}  --}}
        {{/if}}
    {{/each}}
</ul> 

<form class="create-form">
	<div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="add-burger" name="name">
    </div>
    <input type="submit" value="burger">
</form>
